/*CSS*/

#side{
    display: none;
}

h1{
    font-size: 3em;
    text-align: center;
}
.texto{
    padding: 10px;
    margin-top: 15%;
    background-color: #fff;
}
menu-fixo{
    margin-top: 0;
}
p{
    font-size: 22px;
    text-align: none;
    letter-spacing: 1.5px;
    
}
.imgCaio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 2%;
}
/*FULL SCREEN*/
@media  screen and (min-width: 1000px) {
    article{
        display: flex;
        align-items: center;
        margin: 2% 15%;
    }
    .flex-item{
        flex-grow: 1;
    }
    
    #side{
        display: block;
        max-width: 500px;
        max-height: 600px;
    }

    .texto{
        width: 50%;
        height: auto;
        margin: 7% auto;
        text-align: justify;
        line-height: 30px;
        
        background: hsla(0,0%,62%,.1);
    }
    
    p{
        font-size: 18px;
    }

   
}